# Ignore everything except folders
*

# Track certain files and directories
!.gitignore
!apply-config.sh
!secrets.sops.env
!.sops.yaml

# VyOS config
!scripts/
scripts/*
!scripts/**.sh
!scripts/**.script

!scripts/commit
scripts/commit/*
!scripts/commit/pre-hooks.d
scripts/commit/pre-hooks.d/*
!scripts/commit/pre-hooks.d/**.sh

!config-parts/
config-parts/*
!config-parts/*.sh

# CI
!.github/
.github/*
!.github/renovate.json5
!.github/workflows
.github/workflows/**.yaml
